In [2]:
import pandas as pd

In [4]:
df = pd.read_csv("https://raw.githubusercontent.com/atlantico-academy/datasets/main/tips.csv")
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [5]:
df.to_csv('../data/raw/data.csv', index=False)

In [4]:
dicionario = pd.DataFrame([
    {
        "variavel": "total_bill",
        "descricao": "valor da conta",
        "tipo":"quantitativa",
        "subtipo":"contínua"
    },{
        "variavel": "tip",
        "descricao": "Valor da gorjeta",
        "tipo":"quantitativa",
        "subtipo":"contínua"
    },{
        "variavel": "sex",
        "descricao": "Sexo do indivíduo",
        "tipo":"qualitativa",
        "subtipo":"nominal"
    },{
        "variavel": "smoker",
        "descricao": "Se havia algum fumante na mesa",
        "tipo":"qualitativa",
        "subtipo":"nominal"
    },{
        "variavel": "day",
        "descricao": "Dia da semana",
        "tipo":"qualitativa",
        "subtipo":"ordinal"
    },{
        "variavel": "time",
        "descricao": "período do dia",
        "tipo":"qualitativa",
        "subtipo":"ordinal"
    },{
        "variavel": "size",
        "descricao": "Quantidade de pessoas à mesa",
        "tipo":"quantitativa",
        "subtipo":"discreta"
    }
])
dicionario.to_csv('../data/external/dictionary.csv', index=False)
dicionario

     variavel                       descricao          tipo   subtipo
0  total_bill                  valor da conta  quantitativa  contínua
1         tip                Valor da gorjeta  quantitativa  contínua
2         sex               Sexo do indivíduo   qualitativa   nominal
3      smoker  Se havia algum fumante na mesa   qualitativa   nominal
4         day                   Dia da semana   qualitativa   ordinal
5        time                  período do dia   qualitativa   ordinal
6        size    Quantidade de pessoas à mesa  quantitativa  discreta