# Análise exploratória de dados

In [11]:
import pandas as pd
from IPython.display import display, Markdown

## 1. Leitura dos dados

In [4]:
df = pd.read_csv('../data/raw/data.csv')
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

## 2. Descrição dos dados

Os dados se referem a gorjetas recebidas por um garçom em um período de alguns meses enquanto trabalhava em um restaurante. Esse experimento foi estudado no livro  Practical Data Analysis: Case Studies in Business Statistics, escrito por Peter G. Bryant e Marlene A. Smith.

### 2.1 Dicionário de dados

In [5]:
dicionario = pd.read_csv('../data/external/dictionary.csv')
dicionario

     variavel                       descricao          tipo   subtipo
0  total_bill                  valor da conta  quantitativa  contínua
1         tip                Valor da gorjeta  quantitativa  contínua
2         sex               Sexo do indivíduo   qualitativa   nominal
3      smoker  Se havia algum fumante na mesa   qualitativa   nominal
4         day                   Dia da semana   qualitativa   ordinal
5        time                  período do dia   qualitativa   ordinal
6        size    Quantidade de pessoas à mesa  quantitativa  discreta

Temos então um total de 7 variáveis. 4 qualitativas (sendo dessas 2 nominais e 2 ordinais) e 3 quantitativas (2 contínuas e 1 discreta).

### 2.2 Valores faltantes

In [15]:
#contamos a quantidade de valores nulos por coluna

null_counts = df.isnull().sum()

print(null_counts)

display(Markdown(
    "---\n"
    f"Sabemos assim que a não existem valores faltantes."))

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

---
Sabemos assim que a não existem valores nulos.

## 3. Perguntas de partida e hipóteses

- A quantidade de pessoas à mesa influenciou os valores de gorjeta?
- O período do dia influenciou os valores?
- Qual porcentagem média de gorjeta em relação ao valor da conta?
- Como o dia da semana afetou os valores? Finais de semana causam variações?

## 3. Insights